<h2 class="page-header">New Character</h2>

<form action="/character" method="POST">
  <!-- could include a file-->
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/character">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
