<header>
  <nav>
    <a href="/">Anime Wiki</a>
    <ul>
      <li><a href="/product">Anime</a></li>
      <li><a href="/product/new">add Anime</a></li>
      <li><a href="/character">character</a></li>
      <li><a href="/character/new">add character</a></li>
    </ul>
  </nav>
</header>
