<header>
  <nav class="header-nav">
    <a class="header-title" href="/">My Anime Wiki</a>
    <ul>
      <li "><a href="/product">Anime</a></li>
      <li ><a href="/product/new">add Anime</a></li>
      <li "><a href="/character">character</a></li>
      <li ><a href="/character/new">add character</a></li>
    </ul>
  </nav>
</header>
