<div>
  <label>Name</label>
  <input type="text" name="name" value=" <%=product.name %>" />
</div>

<div>
  <label>Publish Date</label>
  <input
    type="date"
    name="publishDate"
    value="<%= product.publishedAt == null ? '' : product.publishedAt.toISOString().split('T')[0] %>"
  />

  <div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond" /><!--no default value-->
  </div>

  <div>
    <label>Description</label>
    <textarea type="description"><% product.description%></textarea>
    <!--no default value-->
  </div>
</div>
