<div class="form-row">


  <div class="form-item">
    <label>Name</label>
    <input type="text" name="name" value=" <%=product.name %>" />
  </div>

  <div class="form-item">
    <label>Publish Date</label>
    <input
      type="date"
      name="publishDate"
      value="<%= product.publishedAt == null ? '' : product.publishedAt.toISOString().split('T')[0] %>"
    />
  </div>
</div>




  <div class="form-row">
    <div class="form-item form-item-no-grow">
      <label>Cover</label>
      <input type="file" name="cover" class="filepond" /><!--no default value-->
    </div>


      <div class="form-item">
        <label>Description</label>
        <textarea name="description" type="description"><% product.description%></textarea>
        <!--no default value-->
      </div>
    </div>

</div>
