<h2>Search Product</h2>
<form action="/product" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name%>" />
  <button type="submit">Search</button>
</form>
<br />
<% products.forEach(product=>{%>
<div><%=product.name%></div>
<% })%>
