<h2 class="page-header"><%= product.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/product/<%= product.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/product/${product.id}` }) %> <%
  if (productBycharacter.length > 0) { %>
</div>
<h2 class="page-header">Related Characters</h2>

<% productBycharacter.forEach(character => { %>
<img height="150" width="100" src="<%= character.coverImagePath %>" />
<% }) %> <% } %>
